<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970763120875-801mp4939k3nl99caoj4vu9vme2a24qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970763120875-801mp4939k3nl99caoj4vu9vme2a24qa</string>
	<key>API_KEY</key>
	<string>AIzaSyDI6qSxRwq5v2udG0gsyEKiV97VBwzJVrE</string>
	<key>GCM_SENDER_ID</key>
	<string>970763120875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.androidIosNotificationFlutter</string>
	<key>PROJECT_ID</key>
	<string>ios-android-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-android-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970763120875:ios:388b7090f54b7df3c24eae</string>
</dict>
</plist>